body {
    background-color: beige;
   
}

header {
background-color: rgb(233, 233, 48);
font-size: x-large;
margin-left: 20%;
width: 70%;
padding-bottom: 50px;
}

article {
background-color: white;
width: 70%;
padding-left:20px ;
margin-left: 20%;



}

 aside {
    background-color: gray;
    color: white;
    float: right;
    width: 20%;
    height:400px;

}

footer {
    background-color: gray;
    color: white;
    text-align: center;
    padding-bottom: 5px;
    width: 1500px;
}